[submodule "themes/loveit"]
	path = themes/loveit
	url = git@github.com:dillonzq/LoveIt.git
[submodule "themes/docsy"]
	path = themes/docsy
	url = git@github.com:google/docsy.git
[submodule "themes/FixIt"]
	path = themes/FixIt
	url = git@github.com:hugo-fixit/FixIt.git
